<!doctype html>

<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <title>About Find A Book For Me</title>
  </head>
  <div class="container">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('book')}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('author')}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publisher')}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </nav>
 <body><center>
 <br />

 <h2 class="font-weight-bold"><font size = 8> About Us </font></h2>
 <p> We created a book database. </p>
 <br />

 <h2 class="font-weight-bold"><font size = 8> Our Team </font></h2>
 <br />


 <h2><font size = 5> Emma McKelvain </font></h2>
<img src="../static/images/Emma.JPG" class="rounded-circle" width="300px" />
<br />
<button data-toggle="collapse" data-target="#demo">Info</button>
<div id="demo" class="collapse">
<p> Bio: Emma is a Sophomore actuarial mathematics major. During her free time, she likes to read and hang out with friends</p>
<p> Responsibilities: Emma's responsibilities in this project were designing the publisher page and adding to the wiki. </p>
<p> Commits: 2 </p>
<p> Issues: 2</p>
<p> Unit Tests: 0 </p>
</div>

 <br />
 <h2><font size = 5> Will Biediger </font></h2>
<img src="../static/images/Will.png" class="rounded-circle" width="300px" />
<br />
<button data-toggle="collapse" data-target="#demo">Info</button>
<div id="demo" class="collapse">
<p> Bio: Will is a Junior math major interested in actuarial science. He enjoys table tennis in his free time. </p>
<p> Responsibilities: Will's main responsibility in this project was making all of the links work (back end) and adding GUI to the publisher pages. </p>
<p> Commits: 16 </p>
<p> Issues: 9</p>
</div>

<br />
<h2><font size = 5> Erin Maes </font></h2>
  <img src="../static/images/erin.JPG" class="rounded-circle" width="300px"  />
  <br />
  <button data-toggle="collapse" data-target="#demo">Info</button>
  <div id="demo" class="collapse">
  <p>Bio: Erin is an applied mathematics major in her final semester at UT. She enjoys playing euphonium in the Longhorn Pep Band and helping as an undergraduate teaching assistant for biostatistics. In addition to mostly coding in Python for the Elements Certificate classes, she has coded in C++, MATLAB, and R for other courses.
    <br />
    <br />
    Responsibilities: Erin's responsibilities for this project were designing the author pages, helping with broken links, deploying on GCP, and adding to the wiki.
      <br />
      <br />
      Commits: 13
      <br/>
      Issues: 4
    </p>
    </div>


 <br />
 <h2><font size = 5> Son Do </font></h2>
 <img src="../static/images/son.jpg" class="rounded-circle" width="300px" />
 <br />
 <button data-toggle="collapse" data-target="#demo">Info</button>
<div id="demo" class="collapse">
  <p> Bio: Son is a Junior Chemical Engineering major. He loves boxing and watching cat video. He codes in Python and MATLAB </p>
  <p> Responsibilities: Son's main responsibility in this project was designing and editing About and Splash GUI </p>
  <p> Commits: 4 </p>
  <p> Issues: 2 </p>
</div>




 <br />
 <h2><font size = 5> Xiaoxia(Shirley) Wu </font></h2>
 <img src="../static/images/Shirley.jpg" class="rounded-circle" width="300px" />
 <br />
 <button data-toggle="collapse" data-target="#demo">Info</button>
<div id="demo" class="collapse">
  <p>Bio: Shirley is applied mathematician at UT Austin. She likes coding and doing research in machine learning. Python is her favorite coding language.
    <br />
    <br />
    Responsibilities: Shirley's responsibilities for this project were designing the book pages, helping with understanding the python packages including flask that make the website work.
      <br />
      <br />
      Commits: 5
      <br/>
      Issues: 2
      <br />
    </div>
  <br />
  <hr />
  <h2><font size = 7> Team Statistics </font></h2>
  <font size = 5> Total Commits: 47 </font>
  <br />
  <font size = 5> Total Issues: 16 </font>
  <br />
  <br />
  <a href="https://gitlab.com/emckelvain/cs329e-idb/issues">Link to Issues</a>
  <br />
  <a href="https://gitlab.com/emckelvain/cs329e-idb/tree/master">Link to Repo</a>
  <br />
  <a href="https://gitlab.com/emckelvain/cs329e-idb/wikis/FindABookForMe">Link to Wiki</a>
  <br />
  <hr />
  <h2><font size = 7> Data </font></h2>
  <font size = 5> Link to data source:  </font>
  <a href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Data Source</a>
    <br />
    We obtained our data from the above link, provided by Prof. Fraij
  <hr />
  <h2><font size = 7> Tools </font></h2>
  We used the following tools to launch this webste: GCP, Bootstrap, JavaScript, Flask, PostgresSQL, and SQLAlchemy
    <br />
  <hr />
  <h2><font size = 7> Tests </font></h2>
  Insert Unit Tests Here

  <br />
</center> </body>
 </html>
