<!doctype html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/global.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../../../scripts/global.js"></script>

    <!-- Favicon, change as desired -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">

    <title>Books</title>
  </head> 
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('book')}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('author')}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publisher')}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </nav>
      </br>
      <h2><center><font size = 9> Books </font> </center></h2>
 <div class="row mt-5 mb-5">
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://prodimage.images-bn.com/pimages/9780590353403_p0_v1_s550x406.jpg" width="200px">
            <div class="card-body">
              <h5 class="card-title">Harry Potter and the Sorcerer's Stone</h5>
              <p class="card-text">
                Author: <a href = "{{url_for('author_profile', authorname = 'jkr')}}"> J.K. Rowling</a> </br>
                ISBN: 9781781100486</br>
              </p>
              <a href="{{url_for('book_profile', bookname = 'harry')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/4/44/Mistborn-cover.jpg" width="200px">
            <div class="card-body">
              <h5 class="card-title">Mistborn</h5>
              <p class="card-text">
                Author: <a href = "{{url_for('author_profile', authorname = 'bs')}}"> Brandon Sanderson</a> </br>
                ISBN: 1429914564 </br>
              </p>
              <a href="{{url_for('book_profile', bookname = 'mistborn')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/2/25/All_the_President%27s_Men_book_1974.jpg" width="200px">
            <div class="card-body">
              <h5 class="card-title">All the President's Men</h5>
              <p class="card-text">
                Author: <a href = "{{url_for('author_profile', authorname = 'bw')}}"> Bob Woodward</a> </br>
                ISBN: 9781471104664</br>
              </p>
              <a href="{{url_for('book_profile', bookname = 'presidents')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</html>
  


