<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{dict["name"]}}</title>
  </head>
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('book')}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('author')}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publisher')}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main">
            <div class="jumbotron">
                    <div class="container">
                      <h1 class="display-3">{{dict["name"]}}</h1>
                      <img src={{dict["image_url"]}}>
                    </div>
                  </div>

                  <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                          <div class="col-md-4">
							<p>Description: {{dict["description"]}}</p>
							<p>Founded: {{dict["founded"]}}</p>
							<p>Location: {{dict["location"]}}</p>
							<p>Parent Company: {{dict["parent company"]}}</p>
							<p><a href = {{dict['wikipedia_url']}}>Wikipedia </a> </p>
							<p><a href = {{dict['website']}}>Website </a> </p>
                        </div>
                          <div class="col-md-4">
                            <h2>Books</h2>
                            <p> <a href = "{{url_for('book_profile', bookname=dict['books']['path'])}}" > {{dict["books"]['title']}} </a></p>
                          </div>
                          <div class="col-md-4">
                            <h2>Authors</h2>
                            <p> <a href = "{{url_for('author_profile', authorname=dict['authors']['path'])}}" >{{dict['authors']['name']}} </a> </p>
                          </div>
                        </div>
                    
                        <hr>
                    
                      </div> <!-- /container -->
      </main>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>